.form {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.btn-form {
  margin-top: 2rem;
}

.error-message {
  color: red;
  font-weight: bold;
}

.btn-social {
  margin-bottom: 2rem;
}

.box-social {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.social-input {
  width: 50%;
}
