.form {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
