<div class="centered">
  <h1>FORM</h1>
  <form [formGroup]="form" class="form" (ngSubmit)="sendForm()">
    <label for="name">Name: </label>
    <input id="name" type="text" formControlName="name" />
    @if (
    form.get('name')!.invalid && (form.get('name')!.dirty || form.get('name')!.touched)
    ) {
    <p class="error-message">Name is required</p>
    }
    <label for="password">Password: </label>
    <input id="password" type="password" formControlName="password" />
    @if (
    form.get('password')!.invalid && (form.get('password')!.dirty || form.get('password')!.touched)
    ) {
    @if(form.get('password')!.errors!['required']!) {
    <p class="error-message">Password required</p>
    }
    @if(form.get('password')!.errors!['minlength']!){
    <p class="error-message">Minimum length: {{form.get('password')!.errors!['minlength']!['requiredLength']!}}</p>
    <p class="error-message">Actual length: {{form.get('password')!.errors!['minlength']!['actualLength']!}}</p>
    }
    }
    <br>
    <h2 class="centered">Socials to add</h2>
    <button class="btn-social" (click)="addSocial()" type="button">Add Social Login</button>
    <form formArrayName="socials">
    @for(social of socials.controls; let index = $index; track index) {
    <div [formGroupName]=index>
      <div class="box-social">
      <input type="text" formControlName="name" class="social-input">
      <button (click)="removeSocial(index)" type="button">Remove</button>
      </div>
      @if(social.invalid && (social.dirty || social.touched)) {
      <p class="error-message">Name Required</p>
      }
    </div>
    }

    </form>
    <button class="btn-form">Submit</button>
  </form>
</div>
